.container{
    min-height: 100vh;
    background-color: var(--neutral-soft-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card{
    display: flex;
}

.container .card .image{
    width: 28.5rem;
    height: 28rem;
    background: url(../images/drawers.jpg) no-repeat;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

.container .card .info{
    background-color: white;
    width: 44.5rem;
    height: 28rem;
    border-radius: 0rem 1rem 1rem 0;
    padding: 3.5rem 4rem;
}

.container .card .info .title{
    color: var(--neutral-very-dark-color);
    font-weight: 700;
}

.container .card .info .description{
    font-size: 1.3rem;
    margin-top: 1.3rem;
    color: var(--neutral-medium-color);
}

.container .card .info .perfil{
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    position: relative;
}

.container .card .info .perfil .avatar{
    border-radius: 50%;
    width: 4rem;
}

.container .card .info .perfil .perfil-info{
    margin-left: 1.5rem;
}

.container .card .info .perfil .perfil-info .name{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--neutral-very-dark-color);
}

.container .card .info .perfil .perfil-info .date{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: var(--neutral-medium-color);
}

.container .card .info .perfil .share-btn{
    background-color: var(--neutral-soft-color);
    border-radius: 50%;
    padding: 0.7rem;
    margin-left: 16.5rem;
}

.container .card .info .perfil .share-container{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -11rem;
    top: -8rem;
    width: 25rem;
    height: 5.5rem;
    border-radius: 1rem;
    background-color: var(--neutral-very-dark-color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.144);
}

.container .card .info .perfil .share-container::after{
    content: "";
    top: 5.5rem;
    left: 11.5rem;
    position: absolute;
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--neutral-very-dark-color);
    border-left: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
}

.container .card .info .perfil .share-container p{
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    color: var(--neutral-medium-color);
}

.container .card .info .perfil .share-container img{
    width: 2rem;
    height: 2rem;
    margin-left: 1.6rem;
}

.container .card .info .perfil .share-container .social-icons{
    display: flex;
}